#ustkutu
{
    width: 1903px;
    height: 200px;
    background-color: rgb(57, 57, 151);
    text-align: right;
}
#girisyap
{
    height: 200px;
    float: right;
    background-color: rgb(57, 57, 151);
    width: 250px;
    color: white;
    font-size: 25px;
}
#kayitol
{
    height: 200px;
    float: right;
    background-color: rgb(57, 57, 151);
    width: 250px;
    color: white;
    font-size: 25px;
}
a
{
    color: white;
}
#kayit
{
    width: 1903px;
    height: auto;
    background-color: darkgreen;
    color: white;
}
#medenihal
{
    width: 250px;
}
#bilgi
{
    float: right;
}
#basvuru
{
    background-color: darkgreen;
    color: white;
}
#basvurular
{
    background-color: darkslateblue;
    color: white;
    width: 1903px;
    height: auto;
}
#basvuruiptal
{
    color: white;
    background-color: darkslateblue;
}